<div class="container">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="content">
                    <label for="firstname">First Name</label>
                    <input class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
                </div>
                
                <div class="content">
                    <label for="isMarried">Married</label>
                    <input class="form-control" type="csheckbox" id="isMarried" name="isMarried" formControlName="isMarried">
                </div>

                <div class="content">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" name="country" formControlName="country">
                        <option [ngValue]="c.id" *ngFor="let c of countryList">
                            {{c.name}}
                        </option>
                    </select>
                </div>

                <div class="content">
                    <label for="gender">Gender</label> &nbsp; &nbsp; &nbsp; &nbsp;
                    <input class="in" type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male &nbsp; &nbsp;
                    <input class="in" type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
                </div>

                <div class="form">
                    <div class="name" *ngIf="showButton">
                        <button type="button" (click)="setDefault()">setDefault</button>
                        <button type="button" (click)="pachValue()">pachValue</button>
                        <button type="button" (click)="resetValue()">resetValue</button>
                    </div>
        
                    <button class="btn mt-5" (click)="toggleButton()">
                        {{ showButton ? 'Hide Button' : 'Show Button'}}
                    </button>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="content">
                    <label for="lastname">Last Name</label>
                    <input class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
                </div>
                <div class="content">
                    <label for="age">Age</label>
                    <input class="form-control" type="text" id="age" name="age" formControlName="age">
                </div>

                <div formGroupName="address">
                    <div class="content">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" formControlName="city">
                    </div>
                    <div class="content">
                        <label for="street">Street</label>
                        <input type="text" class="form-control" name="street" formControlName="street">
                    </div>
                    <div class="content">
                        <label for="pincode">Pin Code</label>
                        <input type="text" class="form-control" name="pincode" formControlName="pincode">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

