<header class="header-area">
  <!-- site-navbar start -->
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <!-- site logo -->
        <a href="#home" class="site-logo">Sara Coffe</a>

        <!-- site menu/nav -->
        <ul>
          <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
          <li><a [routerLink]="['/menu-coffee']" routerLinkActive="router-link-active">Our Menu</a></li>
          <li><a [routerLink]="['/form-order-coffee']" routerLinkActive="router-link-active">Order</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        </ul>
        <ul>
          <li>
            <mat-form-field [formGroup]="form">
              <mat-select formControlName="lang">
                <mat-option *ngFor="let lang of language" [value]="lang">{{ lang.lang }}</mat-option>
                <mat-option [value]=1 (click)="switchLang('km')">{{"status.lang.km" | translate}}</mat-option>
                <mat-option [value]=2 (click)="switchLang('en')">{{"status.lang.en" | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div><!-- navbar-area end -->

  <div class="intro-area">
    <div class="container">
      <h1>Sara - Coffee Shop For U</h1>
      <p>{{"title.des_coffee" | translate}}</p>
    </div>
  </div>
</header>

<router-outlet></router-outlet>